:root {
    --main-color: rgb(72, 229, 194);
    --main-color-dark: rgb(68, 220, 187);
    --main-color-dark-2: rgb(61, 197, 167);
    --main-color-light: rgb(77, 238, 202);
    --main-color-tr: rgba(72, 229, 194, 0.04);
    --main-color-tr-2: rgba(72, 229, 194, 0.16);
    --main-error-color: rgb(244, 108, 108);
    --main-error-color-dark: rgb(227, 97, 97);
}
body {
    background: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
h1, h2, h3, h4, p, a, span {
    font-family: 'Inter', sans-serif;
    color: rgba(0, 0, 0, 0.8);
}