:root {
    --main-color: rgb(72, 229, 194);
    --main-color-dark: rgb(68, 220, 187);
    --main-color-dark-2: rgb(61, 197, 167);
    --main-color-light: rgb(127, 249, 223);
    --main-color-tr: rgba(72, 229, 194, 0.1);
    --main-color-tr-2: rgba(72, 229, 194, 0.16);
    --main-color-tr-3: rgba(72, 229, 194, 0.24);
    --main-error-color: rgb(244, 108, 108);
    --main-error-color-dark: rgb(227, 97, 97);
    --main-grey-color: rgb(245, 245, 245);
    --main-grey-color-2: rgb(240, 240, 240);
    --main-hover-color: rgb(250, 250, 250);
    --main-dark-color: rgb(30, 30, 30);
    --main-border-radius: 0.5em;
    --main-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
body {
    background: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, p, a {
    font-family: 'Inter', sans-serif;
    color: rgba(0, 0, 0, 0.8);
}

@keyframes placeHolderShimmer{
    0%{
        background: linear-gradient(to right,
            transparent 15%, 
            rgba(0, 0, 0, 0.035) 40%,
            rgba(0, 0, 0, 0.035) 50%,
            transparent 85%);
        background-position: -468px 0;
    }
    100%{
        background: linear-gradient(to right,
            transparent 15%, 
            rgba(0, 0, 0, 0.035) 40%,
            rgba(0, 0, 0, 0.035) 50%,
            transparent 85%);
        background-position: 468px 0;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.15);
}